<!-- ========== Horizontal Menu Start ========== -->
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="@Url.Action("Index", "Dashboard")" id="topnav-dashboards" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-dashboard-3-line"></i>Dashboards
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-pages-line"></i>Pages <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Authenitication <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                    <a href="@Url.Action("Login", "Authentication")" class="dropdown-item">Login</a>
                                    <a href="@Url.Action("Register", "Authentication")" class="dropdown-item">Register</a>
                                    <a href="@Url.Action("Logout", "Authentication")" class="dropdown-item">Logout</a>
                                    <a href="@Url.Action("Forgot-Password", "Authentication")" class="dropdown-item">Forgot Password</a>
                                    <a href="@Url.Action("Lock-Screen", "Authentication")" class="dropdown-item">Lock Screen</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-error"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Error <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="@Url.Action("Error-404", "Pages")" class="dropdown-item">Error 404</a>
                                    <a href="@Url.Action("Error-404-alt", "Pages")" class="dropdown-item">Error 404-alt</a>
                                    <a href="@Url.Action("Error-500", "Pages")" class="dropdown-item">Error 500</a>
                                </div>
                            </div>
                            <a href="@Url.Action("Starter-Page", "Pages")" class="dropdown-item">Starter Page</a>
                            <a href="@Url.Action("Contact-List", "Pages")" class="dropdown-item">Contact List</a>
                            <a href="@Url.Action("Profile", "Pages")" class="dropdown-item">Profile</a>
                            <a href="@Url.Action("Timeline", "Pages")" class="dropdown-item">Timeline</a>
                            <a href="@Url.Action("Invoice", "Pages")" class="dropdown-item">Invoice</a>
                            <a href="@Url.Action("FAQ", "Pages")" class="dropdown-item">FAQ</a>
                            <a href="@Url.Action("Pricing", "Pages")" class="dropdown-item">Pricing</a>
                            <a href="@Url.Action("Maintenance", "Pages")" class="dropdown-item">Maintenance</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-briefcase-line"></i>Components <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ui-kit"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Base UI 1 <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ui-kit">
                                    <a href="@Url.Action("Accordions", "BaseUI")" class="dropdown-item">Accordions</a>
                                    <a href="@Url.Action("Alerts", "BaseUI")" class="dropdown-item">Alerts</a>
                                    <a href="@Url.Action("Avatars", "BaseUI")" class="dropdown-item">Avatars</a>
                                    <a href="@Url.Action("Badges", "BaseUI")" class="dropdown-item">Badges</a>
                                    <a href="@Url.Action("Breadcrumb", "BaseUI")" class="dropdown-item">Breadcrumb</a>
                                    <a href="@Url.Action("Buttons", "BaseUI")" class="dropdown-item">Buttons</a>
                                    <a href="@Url.Action("Cards", "BaseUI")" class="dropdown-item">Cards</a>
                                    <a href="@Url.Action("Carousel", "BaseUI")" class="dropdown-item">Carousel</a>
                                    <a href="@Url.Action("Dropdowns", "BaseUI")" class="dropdown-item">Dropdowns</a>
                                    <a href="@Url.Action("Embed-Video", "BaseUI")" class="dropdown-item">Embed Video</a>
                                    <a href="@Url.Action("Grid", "BaseUI")" class="dropdown-item">Grid</a>
                                    <a href="@Url.Action("List-Group", "BaseUI")" class="dropdown-item">List Group</a>
                                    <a href="@Url.Action("Links", "BaseUI")" class="dropdown-item">Links</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ui-kit2"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Base UI 2 <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ui-kit2">
                                    <a href="@Url.Action("Modals", "BaseUI")" class="dropdown-item">Modals</a>
                                    <a href="@Url.Action("Notifications", "BaseUI")" class="dropdown-item">Notifications</a>
                                    <a href="@Url.Action("Offcanvas", "BaseUI")" class="dropdown-item">Offcanvas</a>
                                    <a href="@Url.Action("Placeholders", "BaseUI")" class="dropdown-item">Placeholders</a>
                                    <a href="@Url.Action("Pagination", "BaseUI")" class="dropdown-item">Pagination</a>
                                    <a href="@Url.Action("Popovers", "BaseUI")" class="dropdown-item">Popovers</a>
                                    <a href="@Url.Action("Progress", "BaseUI")" class="dropdown-item">Progress</a>
                                    <a href="@Url.Action("Spinners", "BaseUI")" class="dropdown-item">Spinners</a>
                                    <a href="@Url.Action("Tabs", "BaseUI")" class="dropdown-item">Tabs</a>
                                    <a href="@Url.Action("Tooltips", "BaseUI")" class="dropdown-item">Tooltips</a>
                                    <a href="@Url.Action("Typography", "BaseUI")" class="dropdown-item">Typography</a>
                                    <a href="@Url.Action("Utilities", "BaseUI")" class="dropdown-item">Utilities</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-extended-ui"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Extended UI <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-extended-ui">
                                    <a href="@Url.Action("Portlets", "ExtendedUI")" class="dropdown-item">Portlets</a>
                                    <a href="@Url.Action("Scrollbar", "ExtendedUI")" class="dropdown-item">Scrollbar</a>
                                    <a href="@Url.Action("Range-Slider", "ExtendedUI")" class="dropdown-item">Range Slider</a>
                                    <a href="@Url.Action("Scrollspy", "ExtendedUI")" class="dropdown-item">Scrollspy</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-forms"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forms <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-forms">
                                    <a href="@Url.Action("Basic-Elements", "Forms")" class="dropdown-item">Basic Elements</a>
                                    <a href="@Url.Action("Form-Advanced", "Forms")" class="dropdown-item">Form Advanced</a>
                                    <a href="@Url.Action("Form-Validation", "Forms")" class="dropdown-item">Form Validation</a>
                                    <a href="@Url.Action("Form-Wizard", "Forms")" class="dropdown-item">Form Wizard</a>
                                    <a href="@Url.Action("File-Uploads", "Forms")" class="dropdown-item">File Uploads</a>
                                    <a href="@Url.Action("Form-Editors", "Forms")" class="dropdown-item">Form Editors</a>
                                    <a href="@Url.Action("Image-Crop", "Forms")" class="dropdown-item">Image Crop</a>
                                    <a href="@Url.Action("X-Editable", "Forms")" class="dropdown-item">X Editable</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-charts"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charts <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-charts">
                                    <a href="@Url.Action("Apex-Charts", "Charts")" class="dropdown-item">Apex Charts</a>
                                    <a href="@Url.Action("Chartjs", "Charts")" class="dropdown-item">Chartjs</a>
                                    <a href="@Url.Action("Sparkline-Charts", "Charts")" class="dropdown-item">Sparkline Charts</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-tables"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tables <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-tables">
                                    <a href="@Url.Action("Basic-Tables", "Tables" )" class="dropdown-item">Basic Tables</a>
                                    <a href="@Url.Action("Data-Tables", "Tables" )" class="dropdown-item">Data Tables</a>
                                    <a href="@Url.Action("Editable-Tables", "Tables" )" class="dropdown-item">Editable Tables</a>
                                    <a href="@Url.Action("Responsive-Table", "Tables" )" class="dropdown-item">Responsive Table</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Icons <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                    <a href="@Url.Action("Remix-Icons", "Icons")" class="dropdown-item">Remix Icons</a>
                                    <a href="@Url.Action("Bootstrap-Icons", "Icons")" class="dropdown-item">Bootstrap Icons</a>
                                    <a href="@Url.Action("Material-Design-Icons", "Icons")">Material Design Icons</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-maps"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Maps <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-maps">
                                    <a href="@Url.Action("Google-Maps", "Maps" )" class="dropdown-item">Google Maps</a>
                                    <a href="@Url.Action("Vector-Maps", "Maps" )" class="dropdown-item">Vector Maps</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layouts" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-layout-line"></i>Layouts <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <a href="@Url.Action("Horizontal", "Layouts")" class="dropdown-item" target="_blank">Horizontal</a>
                            <a href="@Url.Action("Light-Sidebar", "Layouts")" class="dropdown-item" target="_blank">Light Sidebar</a>
                            <a href="@Url.Action("Small-Sidebar", "Layouts")" class="dropdown-item" target="_blank">Small Sidebar</a>
                            <a href="@Url.Action("Collapsed-Sidebar", "Layouts")" class="dropdown-item" target="_blank">Collapsed Sidebar</a>
                            <a href="@Url.Action("Unsticky-Layout", "Layouts")" class="dropdown-item" target="_blank">Unsticky Layout</a>
                            <a href="@Url.Action("Boxed-Layout", "Layouts")" class="dropdown-item" target="_blank">Boxed Layout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ========== Horizontal Menu End ========== -->